.sectioncomplementaria{
    background-color: $fondo-secundario;
    text-align: center;
    align-content: center;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    iframe{
        width: 515px;
        height: 315px;
    }
}